<h3><a href="/shelters/">Shelter Index</a></h3>
<h3><a href="/pets/">Pet Index</a></h3>
<a href="/shelters">Shelter Info</a>
<a href="/shelters/<%= @shelters.id %>/pets">Shelter Show Page</a>

<h1><%= @shelters.name %></h1>

<p><b>Address:</b> <%= @shelters.address %></p>

 <p><b>City:</b> <%= @shelters.city %></p>

<p><b>State:</b> <%= @shelters.state %></p>

<p><b>Zip:</b> <%= @shelters.zip %></p>

<a href="/shelters/<%= @shelters.id %>/edit" >Update Shelter</a>
   <form action="/shelters/<%= @shelters.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>