<a href="/shelters">Shelter Info</a>

<h1><%= @shelters.name %></h1>

<p><b>Address:</b> <%= @shelters.address %></p>

 <p><b>City:</b> <%= @shelters.city %></p>

<p><b>State:</b> <%= @shelters.state %></p>

<p><b>Zip:</b> <%= @shelters.zip %></p>

<a href="/shelters/<%= @shelters.id %>/edit" >Edit Shelter</a>

