<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <img src= "<%=pet.image%>" alt="<%= pet.description %>">
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <p><b>Age:</b> <%= pet.age %></p>
  <p><b>Sex:</b> <%= pet.sex %></p>
  <p><b>Shelter:</b> <%= pet.shelter.name %></p>
  <p><a href="/pets/<%=pet.id%>/edit">Update</a></p>
  <p><a href="/pets/<%=pet.id%>/delete">Delete</a></p>
  </form>
<% end %>

