<a href="/pets">Pet Info</a>

<h1><%= @pets.name %></h1>


<p><b><img src= "<%=@pets.image%>" alt="<%= @pets.description %>"></p>
<p><b>Description:</b> <%= @pets.description %></p>
<p><b>Age:</b> <%= @pets.age %></p>
<p><b>Sex:</b> <%= @pets.sex %></p>
<p><b>Adoption Status:</b> <%= @pets.adoption_status %></p>
  </form>